#about-me{
    background-size: cover;
    background-image: url("~@/assets/about_background.jpeg")
}

.introduction_cont{
    background:rgba(0,0,0,0.55);
}

.education_cont{
    background:rgba(0,0,0,0.55);
}